# Variables in Python

In [1]:
x = 22

print(x)

22

In [2]:
type(x)

int

In [3]:
y = 'Mint Chocolate Chip'

print(y)

Mint Chocolate Chip

In [4]:
type(y)

str

In [7]:
y = 'Bananas'

Y = 'Mint Chocolate Chip'

print(y)

Bananas

In [8]:
x,y,z = 'Chocolate', 'Vanilla', 'Cherry'

print(x)
print(y)
print(z)

Chocolate
Vanilla
Cherry

In [10]:
x = y = z = 'Ginger Ale'

print(x)
print(y)
print(z)

Ginger Ale
Ginger Ale
Ginger Ale

In [11]:
ice_cream = ['Chocolate', 'Vanilla', 'Cherry']

x,y,z = ice_cream

print(x)
print(y)
print(z)

Chocolate
Vanilla
Cherry

In [12]:
# best practices for naming variables

In [14]:
# Camel Case

# Test Variable Case

testVariableCase = 'Vanilla Swirl'

In [15]:
# Pascal Case

# Test Variable Case

TestVariableCase = 'Vanilla Swirl'

In [16]:
# Snake Case

# Test Variable Case

test_variable_case = 'Vanilla Swirl'

# of the 3 cases, the snake case is easiest to read bc of the "_"

In [18]:
# More examples of naming conventions for variables, which one is easiest to read & understand?
testvar = 'Vanilla Swirl'
test_var = 'Vanilla Swirl'
_test_var = 'Vanilla Swirl'
testVar = 'Vanilla Swirl'
TestVar = 'Vanilla Swirl'
testVar2 = 'Vanilla Swirl'

In [20]:
# typing numbers in front of variables will produce an error, so will using a hiphen, a space or a comma inside of a variable

2testVar= 'Vanilla Swirl'

SyntaxError: invalid decimal literal (350389984.py, line 3)

In [24]:
# typing numbers in front of variables will produce an error, so will using a hiphen, a space or a comma inside of a variable

test-Var2= 'Vanilla Swirl'

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3158064088.py, line 3)

In [25]:
# typing numbers in front of variables will produce an error, so will using a hiphen, a space or a comma inside of a variable

test Var2 = 'Vanilla Swirl'

SyntaxError: invalid syntax (2203997894.py, line 3)

In [26]:
# typing numbers in front of variables will produce an error, so will using a hiphen, a space or a comma inside of a variable

test,var2 = 'Vanilla Swirl'

ValueError: too many values to unpack (expected 2)

In [27]:
# using a '+' with multiple strings will concatenate them

x = 'Ice cream ' + 'is my favorite!'

print(x)

Ice cream is my favorite!

In [28]:
x = 'Ice cream '
y = 'is '
z = 'my favorite!'

print(x + y + z)

Ice cream is my favorite!

In [29]:
# strings and integers cannot be concatenated using the '+'

x = 'Ice Cream'
y = 2

print(x + y)

TypeError: can only concatenate str (not "int") to str

In [30]:
# you can concatenate strings and integers with a ","

x = 'Ice Cream'
y = 2

print(x,y)

Ice Cream 2