# Data Types

# Numberic Data

In [1]:
# let's look at numeric data types: integers, floats, complex numbers

In [2]:
type(12)

int

In [3]:
type(-12)

int

In [4]:
type(-12 + 100)

int

In [5]:
type(10.25)

float

In [6]:
type(12+10.25)

float

In [9]:
type(12 + 3j)

# 'j' is the only value that works for a complex number

complex

# Boolean Data

In [10]:
# let's look at Boolean data types: true or false

In [11]:
type(False)

bool

In [12]:
type(false)

NameError: name 'false' is not defined

In [13]:
type(1 > 5)

bool

In [14]:
1 > 5

False

In [15]:
1 == 1

True

# String Data

In [16]:
#let's look at string data types

In [17]:
'Single Quote'

'Single Quote'

In [18]:
"Double Quote"

'Double Quote'

In [19]:
"""
The ice cream vanquished 
my longing for sweets,
upon this diet I look away,
it no longer exists on this day.

"""

'\nThe ice cream vanquished \nmy longing for sweets,\nupon this diet I look away,\nit no longer exists on this day.\n\n'

In [20]:
multiline_quotes = """
The ice cream vanquished 
my longing for sweets,
upon this diet I look away,
it no longer exists on this day.

"""

In [21]:
print(multiline_quotes)

The ice cream vanquished
my longing for sweets,
upon this diet I look away,
it no longer exists on this day.

In [22]:
'I've always wanted to eat a gallon of ice cream.''

SyntaxError: invalid syntax (479833257.py, line 1)

In [23]:
"I've always wanted to eat a gallon of ice cream."

"I've always wanted to eat a gallon of ice cream."

In [24]:
"My wife told me "don't go in there!""

SyntaxError: unterminated string literal (detected at line 1) (3839300216.py, line 1)

In [25]:
"""
My wife told me "don't go in there!"
"""

'\nMy wife told me "don\'t go in there!"\n'

In [26]:
direct_quote = """
My wife told me "don't go in there!"
"""

print(direct_quote)

My wife told me "don't go in there!"

# Indexing

In [27]:
# indexing tells us the position of characters in a string, or items in a list

In [28]:
a = 'Hello World!'
print(a)

Hello World!

In [31]:
# this will give us all characters from position 0 up to position 5
print(a[:5])

Hello

In [33]:
# this will give us the character in position 4, which is the 5th character since indexing starts with 0
print(a[4])

o

In [34]:
# the negative index will give us the character that is 4th from the end
print(a[-4])

r

In [35]:
print(a[2:5])

llo

In [36]:
a*3

'Hello World!Hello World!Hello World!'

In [37]:
a+a

'Hello World!Hello World!'

# Lists

In [38]:
# lists are valuable because they have the ability to store multiple individual values

In [39]:
# list

[1, 2, 3]

[1, 2, 3]

In [41]:
my_list = [1,2,3]

print(my_list)

[1, 2, 3]

In [42]:
print(my_list[0])

1

In [43]:
other_list = ['Christmas', 'Channukah', 'Kwanza']

print(other_list)

['Christmas', 'Channukah', 'Kwanza']

In [44]:
print(other_list[0])

Christmas

In [45]:
other_list.append('Eid Mubarak')

other_list

['Christmas', 'Channukah', 'Kwanza', 'Eid Mubarak']

In [46]:
other_list[2]

'Kwanza'

In [47]:
other_list[0] = 'Advent'

other_list

['Advent', 'Channukah', 'Kwanza', 'Eid Mubarak']

In [48]:
# a nested list is a list within a list

nes_list = ['Channukah', ['Advent', 'Noche Buena', 'Christmas'], 'Kwanza', 'Eid Mubarak']

In [50]:
nes_list[1]

['Advent', 'Noche Buena', 'Christmas']

In [51]:
nes_list[1][2]

'Christmas'

# Tuples

In [ ]:
# tuples are very similar to lists with one important exception, tuples are immutable - they cannot be modified... 
# ...or changed after they've been created

In [52]:
tuple_scoops = (1,2,3,2,1)

In [53]:
type(tuple_scoops)

tuple

In [54]:
tuple_scoops[0]

1

In [55]:
tuple_scoops.append(3)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
# typically tuples are used for data that you know is never going to change - i.e a city name or country name, etc.

# Sets

In [56]:
# sets are somewhat similar to lists & tuples but the difference being that sets don't have any duplicate elements
# also sets are unordered, so the elements in a set can't be accessed using indexing

In [57]:
daily_pints = {1,2,3}

In [58]:
type(daily_pints)

set

In [60]:
print(daily_pints)

{1, 2, 3}

In [61]:
daily_pints_log = {1,2,3,23,45,4,5,6,7,3,4,6,9,9,8,7}

# when printing the elements of a set, it will only return the unique values of that set, 
#useful when comparing unique values of one set to the unique values of another set

print(daily_pints_log)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 45, 23}

In [62]:
wife_daily_pints_log = {2,4,6,2,4,3,6,8,5,4,3,3,3,0}

In [63]:
print(wife_daily_pints_log)

{0, 2, 3, 4, 5, 6, 8}

In [67]:
# using the "|" will show all of the combined unique values between the two sets

print(daily_pints_log | wife_daily_pints_log)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 45, 23}

In [66]:
# using the "&" will show the matching unique values between the two sets

print(daily_pints_log & wife_daily_pints_log)

{2, 3, 4, 5, 6, 8}

In [ ]:
# using the "-" will show the values in my daily_pints that don't match wife_daily_pints

print(daily_pints_log - wife_daily_pints_log)

In [71]:
# reversing the order will show the values in wife_daily_pints that don't match my daily_pints

print(wife_daily_pints_log - daily_pints_log)

{0}

In [72]:
# using the "^" will show the values that are in one list or the other, but not in both

print(daily_pints_log ^ wife_daily_pints_log)

{0, 1, 7, 9, 45, 23}

# Dictionaries

In [73]:
# dictionaries use a key/value pair where each element is defined by this relationship

dict_cream = {'name': 'Memusi Ntore', 'weekly intake': 5, 'favorite flavor': ['Cherry', 'Bananas']}

In [74]:
type(dict_cream)

dict

In [75]:
print(dict_cream)

{'name': 'Memusi Ntore', 'weekly intake': 5, 'favorite flavor': ['Cherry', 'Bananas']}

In [76]:
dict_cream.values()

dict_values(['Memusi Ntore', 5, ['Cherry', 'Bananas']])

In [77]:
dict_cream.keys()

dict_keys(['name', 'weekly intake', 'favorite flavor'])

In [79]:
dict_cream.items()

# each key/value pair is an item in the dictionary

dict_items([('name', 'Memusi Ntore'), ('weekly intake', 5), ('favorite flavor', ['Cherry', 'Bananas'])])

In [83]:
dict_cream[0]

KeyError: 0

In [81]:
# instead of calling specific elements in the dictionary by index, you have to call them by key

In [84]:
dict_cream['name']

'Memusi Ntore'

In [85]:
# you can also update a dictionary like so:

dict_cream['name'] = 'Camila Morales'

print(dict_cream)

{'name': 'Camila Morales', 'weekly intake': 5, 'favorite flavor': ['Cherry', 'Bananas']}

In [88]:
# it's also possible to update all of the items in a dictionary at once

dict_cream.update({'name': 'Camila Morales', 'weekly intake': 7, 'music': ['Country', 'Grammer'], 'age': 30, 'weight': 245})

print(dict_cream)

{'name': 'Camila Morales', 'weekly intake': 7, 'favorite flavor': ['Cherry', 'Bananas'], 'music': ['Country', 'Grammer'], 'age': 30, 'weight': 245}

In [89]:
# you can also delete elements in a dictionary

del dict_cream['weekly intake']

print(dict_cream)

{'name': 'Camila Morales', 'favorite flavor': ['Cherry', 'Bananas'], 'music': ['Country', 'Grammer'], 'age': 30, 'weight': 245}